<DOCTYPE html>
<html>
 <head>
 	<title>Ruby on Rails App | Help</title>
 </head>
<body>

	<h1>Help</h1>
	<p>
    	mail ur queries at <a href="arjunbinsevarghese@live.com">arjunbinsevarghese@live.com</a>
	</p>



</body>


</html>
